body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

/* Margin  */
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}
/* End Margin */
/* Columns */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/* End Columns */

/* Row */
.row::after {
  content: '';
  clear: both;
  display: table;
}
/* End Row */

.box {
  width: 350px;
  max-width: 100%;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  text-align: center;
  box-shadow: 5px 5px 10px #4e4e4e;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.box h1,
h2 {
  color: #4e4e4e;
}

.box input[type='text'],
.box input[type='password'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;

  border: 1px solid #4e4e4e;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  border-radius: 6px;
  transition: 0.25s;
}

.box input[type='text']:focus,
.box input[type='password']:focus {
  width: 300px;
  border-color: #22e5e5;
}

.box input[type='submit'] {
  border: 0;

  display: block;
  background: none;

  margin: 20px auto;

  text-align: center;

  border: 1px solid #4e4e4e;

  padding: 14px 40px;

  outline: none;

  color: 44ee4e;

  border-radius: 6px;

  transition: 0.25s;

  cursor: pointer;
}

.box input[type='submit']:hover {
  background: #22e5e5;
  border: none;
  color: #ffffff;
}

.image-dinas {
  width: 100%;
  height: auto;
}
